/*========== GOOGLE FONT ==========*/
@font-face {
  font-family: iran;
  src: url(../Asset/Font/iranyekanweblight\(fanum\).ttf);
}


/*========== VARIABLE CSS ==========*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/


 /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: iran;
}


/*========== BASE ==========*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  direction: rtl;
  font-family:var(--body-font);
  background-color: #f4f7fb;
}

a{
  text-decoration: none;
}


.btn__primary{
color: white;
font-weight: bold;
background-color: #0c68f4;
padding: 0.5rem 1.5rem;
width: max-content;
border-radius: 0.5rem;
font-size: 0.9rem;
}